.ss{

background-image: url("https://cdn2.unrealengine.com/Fortnite%2Fbattle-royale%2Ffortnite-battleroyaleapproved-1920x1080-70139076a5efcf08da47c9bbbb824ebc5a10310e.jpg");
opacity:1;
background-repeat: no-repeat;
background-position: 30% 40%;
background-attachment:scroll;


}

.yolo{


  margin-top: +5px;
}

#image{

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);

}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;

}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  -webkit-filter: none !important; /* Safari 6.0 - 9.0 */
    filter: none !important;
}

.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: #212529; padding: 1em;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}

body {
  padding-top: 54px;
  background-color: #212529;
  color: grey;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}




.col-centered{
    float: none;
    margin: 0 auto;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border: 0;
    background:transparent;
}
